/* Will be compiled down to a single stylesheet with your sass files */

html {
    /* Defaults css for cssmin process */
}

ul.gridster > li {
    background: lightgray;
    overflow: scroll;
}

ul.item-list li {
    list-style: none;
    position: relative !important;
}
