/* Will be compiled down to a single stylesheet with your sass files */

/*Reset*/
body,img,p,h1,h2,h3,h4,h5,h6,ul,ol {margin:0; padding:0; list-style:none; border:none;}


ul.gridster > li {
    background: lightgray;
    overflow: scroll;
}

ul.item-list li {
    list-style: none;
    position: relative !important;
}

.column {
    background: lightgray;
    border: 1px solid black;
}

.column .widget {
    margin: 10px 5px 0 5px;
    padding: 2px;
    background: white;
    height: 200px;
}

.column .widget .widget-head {
    color: #000;
    overflow: hidden;
    width: 100%;
    height: 30px;
    line-height: 30px;
    background: turquoise;
}

.column .widget .widget-content {
    color: #111;
}
