<!doctype html>
<html ng-app="dApp" ng-csp>
    <head>
        <!-- build:css styles/style.css -->
        <link href="styles/main.css" rel="stylesheet">
        <link href="lib/gridster/jquery.gridster.css" rel="stylesheet">
        <link href="bower_components/angular/angular-csp.css" rel="stylesheet">
        <!-- endbuild -->
        <!-- build:js scripts/lib.js -->
        <script src="bower_components/jquery/jquery.js"></script>
        <script src="lib/gridster/jquery.gridster.js"></script>
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/angular-cookies/angular-cookies.js"></script>
        <script src="bower_components/angularLocalStorage/src/angularLocalStorage.js"></script>
        <!-- endbuild -->
        <!-- build:js scripts/app.js -->
        <script src="scripts/app.js"></script>
        <!-- endbuild -->
    </head>
    <body ng-controller="ListCtrl">
        <h1>dListicious!</h1>
        <h2>Add List</h2>
        <form ng-submit="addList($event)">
            Title: <input type="text" name="title" required />
            <input type="submit" name="submit" value="Create List" />
            {{ addListFormError }}
        </form>
        <div id="lists" ng-repeat="(id, list) in lr">
            <h2>{{ list.title }}</h2>
            <form ng-submit="addListItem($event)">
                <h3>Add item to the list</h3>
                Title: <input type="text" name="title" />
                Description: <input type="text" name="description" />
                <input type="hidden" name="list_id" value="{{ id }}" />
                <input type="submit" name="submit" value="Add Item" />
            </form>
            <ul>
                <li ng-repeat="item in list.items" data-number="{{ $index }}">
                    {{ item.title }}<br/>
                    <h4>{{ item.description }}</h4>
                </li>
            </ul>
        </div>
    </body>
</html>
